@{
    ViewBag.Title = "关于我们";
    Layout = "~/Views/Shared/_WeiXinLayout.cshtml";

}

<div class="container hn-main">
    <div class="row hn-row">

        <!--header-->
        <div class="header">
            <div class="pull-left header-left"></div>
            <div class="pull-right header-right">关于我们</div>
        </div>
        <!--header-->
        <!--main-->
        <div class="top60"></div>
     
        <div class="weui_panel">

        <div class="weui_panel_hd" style=" font-weight:bold">简介</div>
        <div class="weui_panel_bd">
           
        </div>
         <div class="weui_panel_hd" style=" font-weight:bold">联系方式</div>
        <div class="weui_panel_bd">
            <div class="weui_media_box weui_media_text">
           
              
            </div>
        </div>
    </div>

    </div>
</div> 