@{
    Layout = "~/Views/Shared/_WeiXinLayout.cshtml";
}
<div style="width:100%; text-align:center; margin-top:100px">
    <img src="/Content/mobile/images/loadprompt.gif" alt="加载中"/>
    <div style="color:#999999; font-size:12px; margin-top:20px">内容加载中，请稍后...</div>
</div>
<input type="hidden" id="hiddRequestId" value="@ViewBag.RequestId"/>
<script type="text/javascript">
    $(function () {
        $("#loadingToast").show();
        setTimeout("PageRedirect()", 200);
    });
    function PageRedirect() {
        location.href = "/qre/ix/" + $("#hiddRequestId").val();
    }
</script>
