<div class="wisdom weui_grid_option">
    <div class="spanProvinceDescription" id="xny1">a </div>
    <div class="spanCityDescription">b </div>
    <div class="spannum1"> </div> <div class="spannum2"></div><div class="spannum3"></div><div class="spannum4"> </div><div class="spannum5"></div><div id="xny" class="spannumn"></div>
</div>


<div class="bd" style="width: 100%;">
        <div class="weui_grids select_plate_cell_city" style="display: none">
            <a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    京
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    津
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    沪
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    渝
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    冀
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    豫
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    粤
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    青
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    藏
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    川
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    宁
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    琼
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    云
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    辽
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    黑
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    湘
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    皖
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    鲁
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    新
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    甘
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    晋
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    蒙
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    苏
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    浙
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    赣
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    鄂
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    桂
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    吉
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    闽
                </p>
                <a href="javascript:void(0)" class="weui_grid weui_grid_option">
                    <p class="weui_grid_label">
                        贵
                    </p>
                </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                    <p class="weui_grid_label">
                        陕
                    </p>
                </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                    <p class="weui_grid_label">
                        港
                    </p>
                </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                    <p class="weui_grid_label">
                        澳
                    </p>
                </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                    <p class="weui_grid_label">
                        使
                    </p>
                </a>
        </div>
        <div class="weui_grids select_plate_cell_area" style="display: none">
            <a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    A
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    B
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    C
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    D
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    E
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    F
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    G
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    H
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    I
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    J
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    K
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    L
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    M
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    N
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    0
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    P
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    Q
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    R
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    S
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    T
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    U
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    V
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    W
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    X
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    Y
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    Z
                </p>
            </a>
        </div>
        <div class="weui_grids select_plate_cell_are1" style="display: none">
            <a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    0
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    1
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    2
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    3
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    4
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    5
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    6
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    7
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    8
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    9
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    A
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    B
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    C
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    D
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    E
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    F
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    G
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    H
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    I
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    J
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    K
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    L
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    M
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    N
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    O
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    P
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    Q
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    R
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    S
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    T
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    U
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    V
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    W
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    X
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    Y
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    Z
                </p>
            </a>
        </div>
        <div class="weui_grids select_plate_cell_are2" style="display: none">
            <a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    0
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    1
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    2
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    3
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    4
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    5
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    6
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    7
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    8
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    9
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    A
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    B
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    C
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    D
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    E
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    F
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    G
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    H
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    I
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    J
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    K
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    L
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    M
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    N
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    O
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    P
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    Q
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    R
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    S
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    T
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    U
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    V
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    W
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    X
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    Y
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    Z
                </p>
            </a>
        </div>
        <div class="weui_grids select_plate_cell_are3" style="display: none">
            <a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    0
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    1
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    2
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    3
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    4
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    5
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    6
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    7
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    8
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    9
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    A
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    B
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    C
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    D
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    E
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    F
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    G
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    H
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    I
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    J
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    K
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    L
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    M
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    N
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    O
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    P
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    Q
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    R
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    S
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    T
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    U
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    V
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    W
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    X
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    Y
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    Z
                </p>
            </a>
        </div>
        <div class="weui_grids select_plate_cell_are4" style="display: none">
            <a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    0
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    1
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    2
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    3
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    4
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    5
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    6
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    7
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    8
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    9
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    A
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    B
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    C
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    D
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    E
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    F
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    G
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    H
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    I
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    J
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    K
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    L
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    M
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    N
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    O
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    P
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    Q
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    R
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    S
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    T
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    U
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    V
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    W
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    X
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    Y
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    Z
                </p>
            </a>
        </div>
        <div class="weui_grids select_plate_cell_are5" style="display: none">
            <a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    0
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    1
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    2
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    3
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    4
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    5
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    6
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    7
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    8
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    9
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    A
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    B
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    C
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    D
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    E
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    F
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    G
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    H
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    I
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    J
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    K
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    L
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    M
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    N
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    O
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    P
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    Q
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    R
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    S
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    T
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    U
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    V
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    W
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    X
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    Y
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    Z
                </p>
            </a>
        </div>
        <div class="weui_grids select_plate_cell_aren" style="display: none">
            <a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    0
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    1
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    2
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    3
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    4
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    5
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    6
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    7
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    8
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    9
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    A
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    B
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    C
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    D
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    E
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    F
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    G
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    H
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    I
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    J
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    K
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    L
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    M
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    N
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    O
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    P
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    Q
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    R
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    S
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    T
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    U
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    V
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    W
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    X
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    Y
                </p>
            </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
                <p class="weui_grid_label">
                    Z
                </p>
            </a>
        </div>
    </div>

<script type="text/javascript">
    $(function () {
        $(".select_plate_cell_city .weui_grid").click(function () {
            var txt = $.trim($(this).find(".weui_grid_label").text());
            $(".select_plate_cell_city").hide();
            $(".select_plate_cell_area").show();
            $(".spanProvinceDescription").text(txt);
        });
        $(".select_plate_cell_area .weui_grid").click(function () {
            var txt = $.trim($(this).find(".weui_grid_label").text());
            $(".select_plate_cell_are1").show();
            $(".select_plate_cell_area").hide();
            $(".spanCityDescription").text(txt);
        });
        $(".select_plate_cell_are1 .weui_grid").click(function () {
            var txt = $.trim($(this).find(".weui_grid_label").text());
            $(".select_plate_cell_are2").show();
            $(".select_plate_cell_are1").hide();
            $(".spannum1").text(txt);
        });
        $(".select_plate_cell_are2 .weui_grid").click(function () {
            var txt = $.trim($(this).find(".weui_grid_label").text());
            $(".select_plate_cell_are3").show();
            $(".select_plate_cell_are2").hide();
            $(".spannum2").text(txt);
        });
        $(".select_plate_cell_are3 .weui_grid").click(function () {
            var txt = $.trim($(this).find(".weui_grid_label").text());
            $(".select_plate_cell_are4").show();
            $(".select_plate_cell_are3").hide();
            $(".spannum3").text(txt);
        });
        $(".select_plate_cell_are4 .weui_grid").click(function () {
            var txt = $.trim($(this).find(".weui_grid_label").text());
            $(".select_plate_cell_are5").show();
            $(".select_plate_cell_are4").hide();
            $(".spannum4").text(txt);
        });
        $(".select_plate_cell_are5 .weui_grid").click(function () {
            var txt = $.trim($(this).find(".weui_grid_label").text());
            $(".select_plate_cell_are5").hide();
            $(".select_plate_cell_are5").hide();
            $(".spannum5").text(txt);
        });
        $(".select_plate_cell_aren .weui_grid").click(function () {
            var txt = $.trim($(this).find(".weui_grid_label").text());
            $(".select_plate_cell_aren").hide();
            $(".spannumn").text(txt);
        });
  
        document.getElementById("xny").onclick = function () {
            $(".select_plate_cell_city").show();
        }
        document.getElementById("xny1").onclick = function () {
            $(".select_plate_cell_city").show();
        }

    });
       
        function btnSelectLicensePlateCity() {
            $(".select_plate_cell_city").show();
            $(".select_plate_cell_area").hide();
            SetSelectStyle();
        }
  
    </script>


<style type="text/css">
    .weui_grid_option
    {
        width: 14.28%;
        height: 40px;
        background-color: #fff;
    }
    .weui_grid_option p
    {
        line-height: 5px;
    }
    .selectstyle
    {
        background-color: #CCFFFF;
    }
</style>