<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AopSdk" version="2.0.0" targetFramework="net40" />
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net40" />
  <package id="CrystalDecisions.ReportSource" version="1.0.0" targetFramework="net40" />
  <package id="CrystalDecisions.Shared" version="1.0.0" targetFramework="net40" />
  <package id="CrystalDecisions.Web" version="1.0.1" targetFramework="net40" />
  <package id="CrystalReports.ReportAppServer.CommLayer" version="13.0.3500" targetFramework="net40" />
  <package id="CrystalReports.ReportAppServer.CommonObjectModel" version="13.0.3500" targetFramework="net40" />
  <package id="F2FPayDll" version="1.0.0" targetFramework="net40" />
  <package id="LitJson" version="0.7.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="3.0.20105.1" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="1.0.20105.408" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.4" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.4" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="1.0.20105.408" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.0" targetFramework="net40" />
  <package id="NPOI" version="2.3.0" targetFramework="net40" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
</packages>