<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <connectionStrings>
   <add name="ConnectionString" connectionString="data source=.;database=System;user id=sa;password=root" providerName="System.Data.SqlClient" />
    <add name="ReadConnectionString" connectionString="data source=.;database=System;user id=sa;password=root" providerName="System.Data.SqlClient" />
    <!--<add name="ConnectionString" connectionString="data source=.;database=SmartSystem;user id=sa;password=123456" providerName="System.Data.SqlClient"/>
    <add name="ReadConnectionString" connectionString="data source=.;database=SmartSystem;user id=sa;password=123456" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="data source=119.23.39.127;database=SmartSystem;user id=sa;password=~DHWY2018" providerName="System.Data.SqlClient"/>
    <add name="ReadConnectionString" connectionString="data source=119.23.39.127;database=SmartSystem;user id=sa;password=~DHWY2018" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ImagePath" value="c:\Pic" />
    <!--微信服务接口 139.196.108.11-->
    <add key="WeiXinServiceIP" value="spscs.spsing.cn" />
    <!--聚合短信AppKey-->
    <add key="JuHeSmsAppKey" value="1bb8c53acc1f72948a47d6e0edf0f35a" />
    <!--聚合短信ModeId-->
    <add key="JuHeSmsModeId" value="55815" />
    <!--是否开启后台线程 0-否 1-是-->
    <add key="BackgroundWorkeStart" value="0" />
    <!--百度访问应用AK DRTGCOLz4bcnMqK4xjSoVGGerlI8cLC4  0Fr0FNIFAarS0GGm5wbLtnVt-->
    <add key="BaiDuMapAK" value="DRTGCOLz4bcnMqK4xjSoVGGerlI8cLC4" />
    <!--查询在多少米范围之内的车场-->
    <add key="SearchParkingRadius" value="4000" />
    <!--默认车牌-->
    <add key="WeiXinDefaultFirstPlateNo" value="陕A" />
    <!--系统域名-->
    <add key="SystemDomain" value="http://ykt.sztaian.cn/" />
    <!--客服电话-->
    <add key="CustomerServicePhone" value="" />
    <!--文件版本号-->
    <add key="FileVersion" value="20180126" />
    <!--泊物云接口Url-->
    <!--<add key="BWYInterfaceUrl" value="http://116.211.105.28:81/" />-->
    <!--泊物云SessionID-->
    <!--<add key="BWYSessionID" value="D_Z7fbHThny6tS_FrkQHl0" />-->
    <!--泊物云车场编号-->
    <!--<add key="BWPKID" value="d25fd5c6-bbcb-4694-80d6-a74b00824602" />-->
    <!--车场代理密码-->
    <add key="Secretkey" value="d25fd5c6-bbcb-4694-80d6-a74b00824602" />
    <!--塞菲姆接口密钥-->
    <add key="SFMSecretKey" value="sps" />
    <!--塞菲姆接口密钥-->
    <add key="SFMInterfaceUrl" value="http://spssfm.spsing.cn/" />
    <!--塞菲姆车场编号-->
    <add key="SFMPKID" value="0ed21a514d644ecd9572b791efd0a9df" />
  </appSettings>
  <system.web>
    <sessionState mode="InProc" timeout="600" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.DataSetConversion" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.84.0.0" newVersion="0.84.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
