@{
    ViewBag.Title = "优免二维码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .table_list
    {
        border: dashed #AAAAAA;
        border-width: 1px 0px 0px 1px;
    }
    .table_list td, th
    {
        border: dashed #AAAAAA;
        border-width: 0px 1px 1px 0px;
        padding: 0px 0px;
        height: 20px;
    }
    .table_list th
    {
        background-color: #F4F4F4;
        height: 20px;
    }
</style>
<script src="/Scripts/DateExtensions.js" type="text/javascript"></script>
<script src="/Scripts/parking/parkderateqrcode.js?v=2" type="text/javascript"></script>
<script src="/Scripts/easyui/tree-searh-extend.js" type="text/javascript"></script>
<div class="easyui-layout" style="height: 500px; width: 500px" fit="true">
    <div region="west" split="true" title="商家信息" style="width: 250px;">
        <div style="margin: 5px 0px 5px 5px; text-align: left">
            <input type="text" id="txtSearchTreeContent" style="width: 150px" class="my_textbox" />&nbsp;<input type="button" style="width: 60px; height: 28px" value="搜索" class="easyui-linkbutton"
                onclick="btnSearchTreeContent()" />
        </div>
        <ul id="parkSellerTree" lines="true">
        </ul>
    </div>
    <div region="center" title="优免二维码" style="background: #eee;">
    <div style="margin: 3px 0px 3px 10px">
            &nbsp;<span>优免规则</span>：<input class="easyui-combobox" id="cmbQueryParkDerate" style="width:150px"/>
            &nbsp;<span>状态</span>：<select id="sltStatus" style="width:100px" class="my_select">
                <option value="">不限</option>
                <option value="0">正常</option>
                <option value="1">无效</option>
            </select>

            &nbsp;<span>来源</span>：<select id="sltDerateQRCodeSource" style="width:100px" class="my_select">
                <option value="">不限</option>
                <option value="0">管理处</option>
                <option value="1">消费打折端</option>
            </select>

            &nbsp; <a href="javascript:void(0)" id="btnQueryData" class="easyui-linkbutton" style="width: 50px;
                height: 28px" onclick="return LoadParkQRCodeDerate()">查询</a>
        </div>
        <div style="height: 94.5%">
            <table fit="true" id="tableQRCodeDerate"> </table>
        </div>
    </div>
</div>
<div id="divDerateQRCodeBox" style="display: none">
    <form id="divDerateQRCodeBoxForm" class="easyui-form">
    <div title="编辑优免二维码" style="padding: 20px;">
        <input type="hidden" name="RecordID" id="RecordID" />
        <table cellpadding="3" class="table_open_window_edit">
            <tr>
                <td align="right" style="width: 60px">
                    优免规则
                </td>
                <td>
                   <input class="easyui-combobox" name="DerateID" id="cmbEtidParkDerate" style="width:150px"/>
                </td>
                </tr>
                  <tr>
                <td align="right">
                    <span id="spanDerateValueDes">优免值</span>
                </td>
                <td>
                 <input id="txtDerateValue" name="DerateValue" required="true" class="easyui-numberspinner form-control" value="0" data-options="min:0,increment:1" missingmessage="不能为空" style="width:150px"/><span id="spanUnitDes"></span>
                </td>
            </tr>
            <tr>
                <td align="right">
                    可使用次数
                </td>
                <td>
               <input id="txtCanUseTimes" name="CanUseTimes" required="true" class="easyui-numberspinner form-control" value="0" data-options="min:0,increment:1" missingmessage="不能为空" style="width:80px"/>(0表示不限次数)
                </td>
            </tr>
            <tr>
                <td align="right">
                    开始时间
                </td>
                <td>
                <input id="txtStartTime" name="StartTime" required="true" class="easyui-datetimebox  form-control" style="width:150px" missingmessage="不能为空" />
                </td>
            </tr>
            <tr>
                <td align="right">
                    结束时间
                </td>
                <td>
                  <input id="txtEndTime" name="EndTime" required="true" class="easyui-datetimebox  form-control" style="width:150px" missingmessage="不能为空" />
                </td>
            </tr>
            <tr>
                <td align="right">
                    备注：
                </td>
                <td>
                    <textarea name="Remark" id="txtRemark" class="easyui-validatebox  form-control" rows="2" style="width: 150px"></textarea>
                </td>
            </tr>
        </table>
    </div>
    </form>
</div>
<div id="divDownloadBox" style="display: none">
     <div title="下载二维码" style="padding: 20px;">
            <table class="my_table">
                <tbody>
                    <tr style="background-color:#E0FFFF">
			            <td style="width:150px">二维码边长(cm)</td>
			            <td style="width:150px">建议扫描距离(米)</td>
			            <td style="width:150px">下载链接</td>
		            </tr>
		            <tr>
			            <td>8cm</td><td>0.5m</td><td><a href="#" id="btn258" onclick="return btnDownloadQRCode(this,258)">下载</a></td>
		            </tr>
		            <tr>
			            <td>12cm</td><td>0.8m</td><td><a  href="#" id="btn344" onclick="return btnDownloadQRCode(this,344)">下载</a></td>
		            </tr>
                     <tr>
			            <td>15cm</td><td>1m</td><td><a  href="#" id="btn430" onclick="return btnDownloadQRCode(this,430)">下载</a></td>
		            </tr>
                     <tr>
			            <td>30cm</td><td>1.5m</td><td><a  href="#" id="btn860" onclick="return btnDownloadQRCode(this,860)">下载</a></td>
		            </tr>
                     <tr>
			            <td>50cm</td><td>2.5m</td><td><a  href="#" id="btn1280" onclick="return btnDownloadQRCode(this,1280)">下载</a></td>
		            </tr>
	            </tbody>
            </table>
    </div>
</div>
<div id="divShowDerateQRCodeBox" style="display: none">
    <form id="divShowDerateQRCodeBoxForm" class="easyui-form">
    <div title="优免二维码" style="padding: 10px; text-align:center;">
        <img class="attachment-thumbnail wp-post-image" style="width: 330px; height: 330px;background: #333;" id="imgTempQRCode" src="" />  
    </div>
    </form>
</div>
<input type="hidden" id="hiddDefaultStartTime" value="@ViewBag.DefaultStartTime"/>
<input  type="hidden" id="hiddDefaultEndTime" value="@ViewBag.DefaultEndTime"/>