.list
{
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
}
.list:hover
{
    background: #E2FAFA;
    cursor: pointer;
}
*{font-size:9.3pt;}
body{font-family:'微软雅黑'; margin:0 auto;min-width:980px;}
ul{display:block;margin:0;padding:0;list-style:none;}
li{display:block;margin:0;padding:0;list-style: none;}
img{border:0;}
dl,dt,dd,span{margin:0;padding:0;display:block;}
a,a:focus{text-decoration:none;color:#000;outline:none;blr:expression(this.onFocus=this.blur());}
a:hover{color:#00a4ac;text-decoration:none;}
table{border-collapse:collapse;border-spacing: 0;}

.yzm{width:341px; height:46px; background:url(images/yzmbg.png) no-repeat; padding-bottom:5px;}
.yzm span{display:block; float:left;width:227px; height:46px;}
.yzm span input{background:none; border:none; width:183px; height:46px; line-height:46px;padding-left:44px;font-size:14px; color:#cee4f1;}
.yzm cite{float:right; width:114px; height:46px; line-height:46px; font-size:18px; color:#fff; text-align:center;}

.loginbody1{background:url(images/loginbg4.png) no-repeat center ;  height:100%;}
.systemlogo{width:100%; height:70px;  text-align:center;margin-top:10px}


.loginlist{width:900px; overflow:hidden;margin-top:20px;margin-left:45px}
.loginlist li{display:inline-table; margin-left:15px; margin-right:15px;}
.loginlist li a{ display:block;width:170px; height:219px; background:url(images/lbg.png) no-repeat; text-align:center; padding-top:30px; cursor:pointer;}
.loginlist li a:hover{background:url(images/lbg1.png) no-repeat;}
.loginlist li a p{font-size:16px; color:#1c77ac; padding-top:10px;}



/*top.html*/
.header{height:88px;}
.topleft{height:88px;background:url(images/topleft.jpg) no-repeat;float:left; width:320px;}
.topleft img{margin-top:12px;}
.topright{height:88px;background:url(images/topright.jpg) no-repeat right;float:right;}
.nav{float:left; position: absolute; left:320px;}
.nav li{float:left;width:87px;height:88px; text-align:center;}
.nav li a{display:block;width:87px;height:88px;-moz-transition: none; transition: background-color 0.3s linear; -moz-transition: background-color 0.3s linear; -webkit-transition: background-color 0.3s linear; -o-transition: background-color 0.3s linear; }
.nav li a.selected{background:url(images/navbg.png) no-repeat;}
.nav li a:hover{display:block;background:#000;color:#fff;background: none repeat scroll 0% 0% rgb(43, 127, 181);}
.nav li img{margin-top:10px;}
.nav li a{display:block;}
.nav a h2{font-size:14px;color:#d6e8f1;}
.nav a:hover h2{color:#fff;}

.nav2{float:left; position: absolute; left:320px;}
.nav2 li{float:left;width:87px;height:88px; text-align:center;}
.nav2 li a{display:block;width:87px;height:88px;-moz-transition: none; transition: background-color 0.3s linear; -moz-transition: background-color 0.3s linear; -webkit-transition: background-color 0.3s linear; -o-transition: background-color 0.3s linear; }
.nav2 li a.selected{background:url(images/navbg.png) no-repeat;}
.nav2 li a:hover{display:block;background:#000;color:#fff;background: none repeat scroll 0% 0% rgb(195, 195, 195);}
.nav2 li img{margin-top:10px;}
.nav2 li a{display:block;}
.nav2 a h2
{
    font-size: 14px;
    color: #003366;
}
.nav2 a:hover h2{color:#fff;}

.topright ul{padding-top:15px; float:right; padding-right:12px;}
.topright ul li{float:left; padding-left:9px; padding-right:9px; background:url(images/line.gif) no-repeat right;}
.topright ul li:last-child{background:none;}
.topright ul li a{font-size:13px; color:#e9f2f7;}
.topright ul li a:hover{color:#fff;}
.topright ul li span{margin-top:2px;float:left;padding-right:3px;}
.user{height:30px;background:url(images/ub1.png) repeat-x;clear:both;margin-top:10px;float:right; margin-right:12px;border-radius:30px; behavior:url(js/pie.htc); white-space:nowrap;position:relative;}
.user span{display:inline-block;padding-right:10px; background:url(images/user.png) no-repeat 15px 10px; line-height:30px; font-size:14px;color:#b8ceda; padding-left:20px; padding-left:35px;}
.user b{display:inline-block;width:20px;height:18px; background:url(images/msg.png);text-align:center; font-weight:normal; color:#fff;font-size:14px;margin-right:13px; margin-top:7px; line-height:18px;}
.user i{display:inline-block;margin-right:5px;font-style:normal;line-height:30px; font-size:14px;color:#b8ceda;}

/*left.html*/
.lefttop{background:url(images/lefttop.jpg) repeat-x;height:40px;color:#fff;font-size:14px;line-height:40px;}
.lefttop span{margin-left:8px; margin-top:10px;margin-right:8px; background:url(images/leftico.png) no-repeat; width:20px; height:21px;float:left;}
.leftmenu{width:230px; overflow:hidden; background:url(images/leftline.gif) repeat-y right;}
.leftmenu dd{background:url(images/leftmenubg.gif) repeat-x;line-height:35px;font-weight:bold;font-size:14px;border-right:solid 1px #b7d5df;}
.leftmenu dd span{float:left;margin:10px 8px 0 12px;}
.leftmenu dd .menuson{display:none;}
.leftmenu dd:first-child .menuson{display:block;}
.menuson {line-height:30px; font-weight:normal; }
.menuson li{cursor:pointer;}
.menuson li.active{position:relative; background:url(images/libg.png) repeat-x; line-height:30px; color:#fff;}
.menuson li cite{display:block; float:left; margin-left:32px; background:url(images/list.gif) no-repeat; width:16px; height:16px; margin-top:7px;}
.menuson li.active cite{background:url(images/list1.gif) no-repeat;}
.menuson li.active i{display:block; background:url(images/sj.png) no-repeat; width:6px; height:11px; position:absolute; right:0;z-index:10000; top:9px; right:-1px;}
.menuson li a{ display:block; *display:inline; *padding-top:5px;}
.menuson li.active a{color:#fff;}
.title{cursor:pointer;}


/**支持二级菜单覆盖样式**/
.menuson li .header{height:30px;}
.menuson li .sub-menus{ display:none; background:#d9ebf3;padding:10px 0;border-bottom:1px solid #b7d5df;}
.menuson li .sub-menus li{height:25px;line-height:25px;padding-left:48px;border-left:1px solid #d9ebf3;}
.menuson li .sub-menus li.active{position:relative;right:-1px;border-left:none;background:#fff;}
.menuson li .sub-menus li a{padding-left:9px;color:#000000; background:url(images/sub-menu-icon.png) 0 12px no-repeat;}
.menuson li .sub-menus li a:hover{color:#238ac5;}
.menuson li .sub-menus li.active a{color:#238ac5;}
.menuson li.active.open cite{margin-top:12px;margin-left:37px; background:url(images/jtx.png) no-repeat;}



/*right.html*/
.place{height:40px; background:url(images/righttop.gif) repeat-x;}
.place span{line-height:40px; font-weight:bold;float:left; margin-left:12px;}
.placeul li{float:left; line-height:40px; padding-left:7px; padding-right:12px; background:url(images/rlist.gif) no-repeat right;}
.placeul li:last-child{background:none;}
.rightinfo{padding:8px;}
.tools{clear:both; height:35px; margin-bottom:8px;}
.toolbar{float:left;}
.toolbar li{background:url(images/toolbg.gif) repeat-x; line-height:33px; height:33px; border:solid 1px #d3dbde; float:left; padding-right:10px; margin-right:5px;border-radius: 3px; behavior:url(js/pie.htc); cursor:pointer;}
.toolbar li span{float:left; margin-left:10px; margin-right:5px; margin-top:5px;}
.toolbar1{float:right;}
.toolbar1 li{background:url(images/toolbg.gif) repeat-x; line-height:33px; height:33px; border:solid 1px #d3dbde; float:left; padding-right:10px; margin-left:5px;border-radius: 3px; behavior:url(js/pie.htc);}
.toolbar1 li span{float:left; margin-left:10px; margin-right:5px; margin-top:5px;}
.tablelist{border:solid 1px #cbcbcb; width:100%; clear:both;}
.tablelist th{background:url(images/th.gif) repeat-x; height:34px; line-height:34px; border-bottom:solid 1px #b6cad2; text-indent:11px; text-align:left;}
.tablelist td{line-height:35px; text-indent:11px; border-right: dotted 1px #c7c7c7;}
.tablelink{color:#056dae;}
.tablelist tbody tr.odd{background:#f5f8fa;}
.tablelist tbody tr:hover{background:#e5ebee;}
.sort{padding-left:3px;}

.footer{background:#f0f9fd; height:30px; border-top:solid 1px #c2d2d7; line-height:30px; color:#98a4a9;}
.footer span{display:block; float:left; background:url(images/info.png) no-repeat 11px 8px; padding-left:35px;}
.footer i{display:block; float:right; font-style:normal; margin-right:10px; background:url(images/fjt.png) no-repeat right; padding-right:12px; }

.my-menu-basedata{background: url('/Content/home/images/menu/basedata.png') no-repeat center center;}
.my-menu-authority{background: url('/Content/home/images/menu/authority.png') no-repeat center center;}
.my-menu-car{background: url('/Content/home/images/menu/car.png') no-repeat center center;}
.my-menu-discount{background: url('/Content/home/images/menu/discount.png') no-repeat center center;}
.my-menu-log{background: url('/Content/home/images/menu/log.png') no-repeat center center;}
.my-menu-report{background: url('/Content/home/images/menu/report.png') no-repeat center center;}
.my-menu-statistics{background: url('/Content/home/images/menu/statistics.png') no-repeat center center;}
.my-menu-weixin{background: url('/Content/home/images/menu/weixin.png') no-repeat center center;}
.my-menu-parking{background: url('/Content/home/images/menu/parking.png') no-repeat center center;}
.my-menu-alipay{background: url('/Content/home/images/menu/alipay.png') no-repeat center center;}
.icon-status-yes
{
    background: url('/Content/images/yes.png') no-repeat center center;
}
.icon-status-no
{
    background: url('/Content/images/no.png') no-repeat center center;
}
.my-menu-tixian{background: url('/Content/home/images/menu/tixian.png') no-repeat center center;}