@{
    ViewBag.Title = "编辑图文";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="/Content/weixin/article.css" rel="stylesheet" />
<link href="/Scripts/ueditor/themes/default/css/ueditor.css" rel="stylesheet" />
<script src="/Scripts/ueditor/ueditor.config.js" type="text/javascript"></script>
<script src="/Scripts/ueditor/ueditor.all.js" type="text/javascript"></script>
<script src="/Scripts/fileupload/vendor/jquery.ui.widget.js" type="text/javascript"></script>
<script src="/Scripts/fileupload/jquery.iframe-transport.js" type="text/javascript"></script>
<script src="/Scripts/fileupload/jquery.fileupload.js" type="text/javascript"></script>
<script src="/Scripts/nweixin/article.js?v=5"></script>
<div class="easyui-layout" style="height: 500px; width: 500px" fit="true">
    <div region="west" title="图文信息" style="width: 320px" collapsible="false">
        <div style="margin: 5px 5px 0 5px">
            <div class="appmsg_preview_area">
                <div class="appmsg appmsg_editing">
                    <div class="appmsg_content">
                    </div>
                    <div class="appmsg_add">
                        <div class="appmsg_add_inner">
                            增加一条
                        </div>
                    </div>
                    <div class="appmsg_model" data-id="0">
                        <h4 class="appmsg_title simpletitle">
                            <span>标题</span></h4>
                        <div class="appmsg_thumb_wrp">
                            <img class="appmsg_thumb" alt="" src="" />
                            <i class="appmsg_thumb default">封面图片</i>
                        </div>
                        <h4 class="appmsg_title multititle">
                            <span>标题</span></h4>
                        <p class="appmsg_desc">
                            摘要</p>
                        <div class="appmsg_edit_mask">
                            <span>编辑</span> <span>删除</span>
                        </div>
                        <div class="hidden">
                            <input type="hidden" class="mid" value="0" />
                            <input type="hidden" class="mtitle" />
                            <input type="hidden" class="mdesc" />
                            <input type="hidden" class="murl" />
                            <input type="hidden" class="mpic" />
                            <input type="hidden" class="companyid" />
                            <input type="hidden" class="mtext" />
                             <input type="hidden" class="mmoduleid" />
                            <input type="hidden" class="mtype" value="0" />
                            <input type="hidden" class="msort" value="0" />
                            <input type="hidden" class="mgroupid"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div region="center" title="图文编辑" style="width: 60%">
        <div style="margin: 20px 0 50px 20px">
            <input type="hidden" id="hiddEditId" />
            <input type="hidden" id="hiddEditSort" />
            <div style="margin-bottom: 20px;">
                <div>
                    标题：<span style="color: #A8A8A8">64个字内</span></div>
                <input class="easyui-textbox" name="Title" id="txtTitle" data-options="prompt:'请输入标题'" style="width: 400px;
                    height:32px"/>
            </div>
            <div style="margin-bottom: 20px">
                <div>
                    封面：<span style="color: #A8A8A8" id="spanImageDes">小图片建议尺寸：200像素 * 200像素</span></div>
               
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add'"
                    style="width: 100px; height: 32px" onclick="btnSelectArticleCover()">上传封面</a><span style="color: Red">*</span>
                <span id="spanUploadWeiXinLogoResult"></span>
                <div class="upload_preview">
                </div>
            </div>
            <div style="margin-bottom: 20px">
                <div>
                    摘要：<span style="color: #A8A8A8">54个字内</span></div>
                <input class="easyui-textbox" data-options="multiline:true,prompt:'请输入摘要'" id="txtDescription" style="width: 400px;
                    height: 50px">
            </div>
            <div style="margin-bottom: 20px">
                <div>
                    类型：</div>
                <select class="easyui-combobox" style="width: 200px; height: 30px" name="ArticleType" id="cmbArticleType">
                </select>
            </div>
            <div style="margin-bottom: 20px;display:none" id="divUrl">
                <div>
                    外部链接地址：<span style="color: #A8A8A8">必须http:// 或https:// 开头</span></div>
                <input class="easyui-textbox" name="Url" id="txtUrl" data-options="prompt:'请外部链接地址'" style="width: 400px;height: 32px"/>
            </div>
             <div id="divFeatures">
                <div>
                    功能模块：</div>
                   
              <select class="easyui-combobox" id="cmdModule" style="width: 200px; height: 30px"></select>
            </div>
          <div style="margin-bottom: 20px; display:none" id="divText">
                <div>
                    正文：</div>
                <textarea id="frm_text" style="width: 500px"></textarea>
            </div>

        </div>
    </div>
        <div data-options="region:'south'" style="height:50px; line-height:50px;vertical-align:middle; text-align:center;">
       <a href="/nwx/WXArticle/Index"  class="easyui-linkbutton" iconcls="icon-back" style="width: 150px; height: 32px">返回</a> &nbsp;  &nbsp;<a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" style="width: 150px; height: 32px" onclick="return btnSubmitArticleData()">保存</a>
    </div>
    <input type="hidden" id="hiddGroupId" value="@ViewBag.GroupId"/>
     <input type="hidden" id="hiddEditItem"/>
     <input type="hidden" id="hiddCompanyID" value="@ViewBag.CompanyID"/>
</div>
 <input type="file" name="files" id="fileUpload_ArticleCover" class="formtext" style="display: none" />