@{
    ViewBag.Title = "进入成功";
    Layout = "~/Views/Shared/_WeiXinLayout.cshtml";
}
<div class="row">
    <div class="row hn-row" style="text-align: center">
        <div class="weui_msg top20" style="padding-top: 0px">
            <div class="weui_icon_area">
             <i class="weui_icon_success weui_icon_msg"></i>
            </div>
            <div class="weui_text_area">
                进入成功
            </div>
        </div>
    </div>
</div>
