@{
    ViewBag.Title = "OnlinePay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="../../../../Scripts/statistics/common.js?v=new Date()" type="text/javascript"></script>
<script src="../../../../Scripts/statistics/onlinepay.js?v=new Date()" type="text/javascript"></script>
<div class="easyui-layout" style="height:500px;width:500px" fit="true">
<div region="center" title="线上支付" style="padding:2px; ">
    <div style="margin:3px 0px 3px 5px">    
        <div style="margin-bottom: 5px">   
        <table>
            <tr>
                <td align="right">车场名称：</td><td><input id="selectParks" name="ParkingId" class="easyui-combobox"  style=" width:150px"/></td>
               
                <td align="right">支付方式：</td><td><select id="selectPaySource" style="width: 150px; " class="my_select">
                <option value="-1">全部</option>
                <option value="2">微信</option>
                <option value="3">支付宝</option>
                <option value="4">网银</option>
                <option value="5">电子钱包</option>
                <option value="6">优免劵</option>
                <option value="7">余额</option>
                </select> </td>

                <td align="right">支付状态：</td><td><select id="selectPayStatus" style="width: 150px; " class="my_select">
                <option value="-1">全部</option>
                
                
                </select> </td>
              
            </tr>
            <tr>
                <td align="right">开始时间：</td><td><input class="easyui-datetimebox" type="text" id="txtStartTime" style="width:150px;height:25px; line-height:25px"  /></td>
                <td align="right">结束时间：</td><td><input class="easyui-datetimebox" type="text" id="txtEndTime" style="width:150px;height:25px; line-height:25px"  /> </td>
                <td>车牌号码：</td><td><input class="my_textbox" style="width: 145px;" id="txtPlateNumber" />  </td>
                
                <td></td><td><a href="javascript:void(0)" id="btnQueryData" class="easyui-linkbutton" style="width: 80px;height: 28px;">查询</a></td>
                <td></td><td></td>
            </tr>
        </table>
        </div>
    </div>
    <div style="height: 88%;">        
        <table fit="true" id="tableListBox">
        </table>
    </div>
</div>
</div>

