@using SmartSystem.OmnipotentCardWebUI.Models
@{
    ViewBag.Title = "访客信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ReferenceScriptHtml("/Scripts/statistics/common.js")
@Html.ReferenceScriptHtml("/Scripts/statistics/parkvisitorinfo.js")
<div class="easyui-layout"  fit="true">
<div region="center" title="访客信息" style="padding:2px; ">
    <div style="margin:3px 0px 3px 5px">
          <div style="margin-bottom: 5px">  
            <table>
                <tr>
                    <td align="right">车场名称：</td><td><select id="selectParks" style=" width:150px" class="my_select"></select></td>
                    <td align="right">车牌号码：</td><td><input class="my_textbox" style="width: 150px;" id="txtPlateNumber" /></td>
                    <td align="right">姓名/电话：</td><td><input class="my_textbox" style="width: 150px;" id="txtMoblieOrName" /></td>
                    <td align="right">访客来源：</td><td><select id="sltVisitorSource" style="width: 150px; " class="my_select">
                     <option value="-1">全部</option>
                     <option value="0">监控端</option>
                      <option value="1">微信</option>
                    </select> </td>
                </tr>
                <tr>
                    <td align="right">访客状态：</td><td><select id="sltVisitorState" style="width: 150px; " class="my_select">
                    <option value="-1">全部</option>
                     <option value="0">正常</option>
                      <option value="2">取消</option>
                    </select> </td>
                    <td align="right">开始时间：</td><td><input class="easyui-datetimebox my_datetimebox" type="text" id="txtBeginTime" style="width:150px;height:25px; line-height:25px"  /></td>
                    <td align="right">结束时间：</td><td><input class="easyui-datetimebox my_datetimebox" type="text" id="txtEndTime" style="width:150px;height:25px; line-height:25px"  /></td>
                    <td><a href="javascript:void(0)" id="btnQueryData" class="easyui-linkbutton" style="width: 80px;height: 28px">查询</a></td>
                </tr>
            </table>  
         </div>
    </div>
    <div style="height: 88%;">        
        <table fit="true" id="tableListBox" >
        </table>
    </div>
</div>