<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_WXService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_WXService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://proxy-callback.spsing.cn/WXService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_WXService"
                contract="WXService.WXService" name="BasicHttpBinding_WXService" />
            <endpoint address="net.tcp://proxy-callback.spsing.cn:4508/WXService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_WXService"
                contract="WXService.WXService" name="NetTcpBinding_WXService" />
        </client>
    </system.serviceModel>
</configuration>