@{
    ViewBag.Title = "系统错误";
    Layout = "~/Views/Shared/_WeiXinLayout.cshtml";
}
<div class="row">
    <div class="weui_msg top20" style="padding-top: 0px">
        <div class="weui_icon_area">
            <i class="weui_icon_msg weui_icon_warn"></i>
        </div>
        <div class="weui_text_area">
            <p class="weui_msg_desc">@ViewBag.Message</p>
        </div>
    </div>
</div>
