<div class="weiwuha" id="tables" style="width: 320px !important; margin: 0 auto !important;">
    <div class="spanProvinceDescription weiwukuang wi selectwi" id="city">
        浙</div>
    <div class="spanCityDescription weiwukuang wi" id="area">
        B</div>
    <div class="spannum1 weiwukuang wi" id="are1">
    </div>
    <div class="spannum2 weiwukuang wi" id="are2">
    </div>
    <div class="spannum3 weiwukuang wi" id="are3">
    </div>
    <div class="spannum4 weiwukuang wi" id="are4">
    </div>
    <div class="spannum5 weiwukuang wi" id="are5">
    </div>
    <div id="xny" class="spannumn weiwukuang wi" style=" border:1px dashed #cccccc !important;">
    </div>
</div>

<div class="bd" style="width: 100%; bottom: 0px; position: absolute; background: #c0c7cf !important;
    z-index: 9999999;">

    <div style="height: 32px; width: 100%; background: white !important; color: Red;
        line-height: 32px; text-align: right; cursor: pointer; display: none;" class="closes">
        <div onclick="aa();" style="padding-right: 20px;">
            确定</div>
    </div>

    <div class="weui_grids select_plate_cellcity" style="display: none">
        <div style=" width:100%;">
                 <a href="javascript:void(0)" class="weuigrid weuigridoption">
          <p class="weuigrid_label">京</p>
         
        </a><a href="javascript:void(0)" class="weuigrid weuigridoption">
            <p class="weuigrid_label">
                津
            </p>
        </a><a href="javascript:void(0)" class="weuigrid weuigridoption">
            <p class="weuigrid_label">
                沪
            </p>
        </a><a href="javascript:void(0)" class="weuigrid weuigridoption">
            <p class="weuigrid_label">
                渝
            </p>
        </a><a href="javascript:void(0)" class="weuigrid weuigridoption">
            <p class="weuigrid_label">
                冀
            </p>
        </a><a href="javascript:void(0)" class="weuigrid weuigridoption">
            <p class="weuigrid_label">
                豫
            </p>
        </a><a href="javascript:void(0)" class="weuigrid weuigridoption">
            <p class="weuigrid_label">
                粤
            </p>
        </a><a href="javascript:void(0)" class="weuigrid weuigridoption">
            <p class="weuigrid_label">
                青
            </p>
        </a><a href="javascript:void(0)" class="weuigrid weuigridoption">
            <p class="weuigrid_label">
                藏
            </p>
        </a>
        
  
        
        <a href="javascript:void(0)" class="weuigrid weuigridoption">
            <p class="weuigrid_label">
                黑
            </p>
        </a>
        </div>
        <div>
             <a class="weuigrid " style=" width:1px; height:2em;margin-left:5%;">
                <p></p>
            </a>
               <a href="javascript:void(0)" class="weuigrid weuigridoption">
            <p class="weuigrid_label">
                琼
            </p>
        </a><a href="javascript:void(0)" class="weuigrid weuigridoption">
            <p class="weuigrid_label">
                云
            </p>
        </a><a href="javascript:void(0)" class="weuigrid weuigridoption">
            <p class="weuigrid_label">
                辽
            </p>
        </a>
         
                   
        <a href="javascript:void(0)" class="weuigrid weuigridoption">
            <p class="weuigrid_label">
                湘
            </p>
        </a><a href="javascript:void(0)" class="weuigrid weuigridoption">
            <p class="weuigrid_label">
                皖
            </p>
        </a><a href="javascript:void(0)" class="weuigrid weuigridoption">
            <p class="weuigrid_label">
                鲁
            </p>
        </a><a href="javascript:void(0)" class="weuigrid weuigridoption">
            <p class="weuigrid_label">
                新
            </p>
        </a><a href="javascript:void(0)" class="weuigrid weuigridoption">
            <p class="weuigrid_label">
                甘
            </p>
        </a><a href="javascript:void(0)" class="weuigrid weuigridoption">
            <p class="weuigrid_label">
                晋
            </p>
        </a>
        </div>
        <div>
             <a class="weuigrid " style=" width:1px; height:2em;margin-left:9%;">
                <p></p>
            </a>
         <a href="javascript:void(0)" class="weuigrid weuigridoption">
            <p class="weuigrid_label">
                苏
            </p>
        </a>        
        <a href="javascript:void(0)" class="weuigrid weuigridoption">
            <p class="weuigrid_label">
                浙
            </p>
        </a><a href="javascript:void(0)" class="weuigrid weuigridoption">
            <p class="weuigrid_label">
                赣
            </p>
        </a><a href="javascript:void(0)" class="weuigrid weuigridoption">
            <p class="weuigrid_label">
                鄂
            </p>
        </a><a href="javascript:void(0)" class="weuigrid weuigridoption">
            <p class="weuigrid_label">
                桂
            </p>
        </a><a href="javascript:void(0)" class="weuigrid weuigridoption">
            <p class="weuigrid_label">
                吉
            </p>
        </a>
     <a href="javascript:void(0)" class="weuigrid weuigridoption">
            <p class="weuigrid_label">
                蒙
            </p>
        </a>

            <a href="javascript:void(0)" class="weuigrid weuigridoption">
            <p class="weuigrid_label">
                宁
            </p>
        </a>
        </div>
        <div style=" overflow:hidden;">
            <a class="weuigrid " style=" width:1px; height:2em;margin-left:25.5%;">
                <p></p>
            </a>
          <a href="javascript:void(0)" class="weuigrid weuigridoption">
            <p class="weuigrid_label">
                闽
            </p>
            <a href="javascript:void(0)" class="weuigrid weuigridoption">
                <p class="weuigrid_label">
                    贵
                </p>
            </a><a href="javascript:void(0)" class="weuigrid weuigridoption">
                <p class="weuigrid_label">
                    陕
                </p>
            </a><a href="javascript:void(0)" class="weuigrid weuigridoption">
                <p class="weuigrid_label">
                    港
                </p>
            </a><a href="javascript:void(0)" class="weuigrid weuigridoption">
                <p class="weuigrid_label">
                    澳
                </p>
            </a>
        </div>
    </div>


    <div class="weui_grids select_plate_cell_area" style="display: none">
        <a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                A
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                B
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                C
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                D
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                E
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                F
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                G
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                H
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                I
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                J
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                K
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                L
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                M
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                N
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                0
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                P
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                Q
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                R
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                S
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                T
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                U
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                V
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                W
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                X
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                Y
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                Z
            </p>
        </a>
    </div>
    <div class="weui_grids select_plate_cell_are1" style="display: none">
        <a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                0
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                1
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                2
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                3
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                4
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                5
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                6
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                7
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                8
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                9
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                A
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                B
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                C
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                D
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                E
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                F
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                G
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                H
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                I
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                J
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                K
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                L
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                M
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                N
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                O
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                P
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                Q
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                R
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                S
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                T
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                U
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                V
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                W
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                X
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                Y
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                Z
            </p>
        </a>
    </div>
    <div class="weui_grids select_plate_cell_are2" style="display: none">
        <a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                0
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                1
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                2
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                3
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                4
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                5
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                6
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                7
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                8
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                9
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                A
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                B
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                C
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                D
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                E
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                F
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                G
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                H
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                I
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                J
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                K
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                L
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                M
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                N
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                O
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                P
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                Q
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                R
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                S
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                T
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                U
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                V
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                W
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                X
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                Y
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                Z
            </p>
        </a>
    </div>
    <div class="weui_grids select_plate_cell_are3" style="display: none">
        <a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                0
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                1
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                2
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                3
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                4
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                5
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                6
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                7
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                8
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                9
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                A
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                B
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                C
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                D
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                E
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                F
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                G
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                H
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                I
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                J
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                K
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                L
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                M
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                N
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                O
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                P
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                Q
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                R
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                S
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                T
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                U
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                V
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                W
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                X
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                Y
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                Z
            </p>
        </a>
    </div>
    <div class="weui_grids select_plate_cell_are4" style="display: none">
        <a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                0
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                1
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                2
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                3
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                4
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                5
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                6
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                7
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                8
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                9
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                A
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                B
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                C
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                D
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                E
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                F
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                G
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                H
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                I
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                J
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                K
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                L
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                M
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                N
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                O
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                P
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                Q
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                R
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                S
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                T
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                U
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                V
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                W
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                X
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                Y
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                Z
            </p>
        </a>
    </div>

    <div class="weui_grids select_plate_cell_are5" style="display: none">
        <a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                0
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                1
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                2
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                3
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                4
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                5
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                6
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                7
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                8
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                9
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                A
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                B
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                C
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                D
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                E
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                F
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                G
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                H
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                I
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                J
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                K
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                L
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                M
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                N
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                O
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                P
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                Q
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                R
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                S
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                T
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                U
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                V
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                W
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                X
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                Y
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                Z
            </p>
        </a>
    </div>
    <div class="weui_grids select_plate_cell_aren" style="display: none">
        <a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                0
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                1
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                2
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                3
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                4
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                5
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                6
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                7
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                8
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                9
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                A
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                B
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                C
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                D
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                E
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                F
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                G
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                H
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                I
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                J
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                K
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                L
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                M
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                N
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                O
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                P
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                Q
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                R
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                S
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                T
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                U
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                V
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                W
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                X
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                Y
            </p>
        </a><a href="javascript:void(0)" class="weui_grid weui_grid_option">
            <p class="weui_grid_label">
                Z
            </p>
        </a>
    </div>
</div>
<style type="text/css">
    .weui_grid_option
    {
        width: 9%;
        height:2.2em;
        background-color: #fff;
        border:1px solid #7b7a7f;
        margin-left:0.87%;
        margin-top:0.5em;
        border-radius:5px;
        text-align:center; 
        line-height:2.2em;
    }
    .selectstyle
    {
        background-color: #CCFFFF;
    }
    .wisdom div
    {
        width: 20px;
        height: 20px;
        border: 1px solid #ff00ff;
        float: left;
        margin-left: 10px;
    }
    .weui_grid{ padding:0px !important;}
    
</style>
<script type="text/javascript">
    $(function () {
        var result = false;
        document.getElementById("xny").style.background = 'url(/Content/mobile/images/xny.png)';
        $(".select_plate_cellcity .weuigrid").click(function () {
            var txt = $.trim($(this).find(".weuigrid_label").text());
            $(".select_plate_cellcity").hide();
            $(".select_plate_cell_area").show();
            $(".spanProvinceDescription").text(txt);
            $(".weiwukuang").removeClass("selectwi");
            document.getElementById("area").className += " selectwi";
        });
        $(".select_plate_cell_area .weui_grid").click(function () {
            var txt = $.trim($(this).find(".weui_grid_label").text());
            $(".select_plate_cell_are1").show();
            $(".select_plate_cell_area").hide();
            $(".spanCityDescription").text(txt);
            $(".weiwukuang").removeClass("selectwi");
            document.getElementById("are1").className += " selectwi";
        });
        $(".select_plate_cell_are1 .weui_grid").click(function () {
            var txt = $.trim($(this).find(".weui_grid_label").text());
            $(".select_plate_cell_are2").show();
            $(".select_plate_cell_are1").hide();
            $(".spannum1").text(txt);
            $(".weiwukuang").removeClass("selectwi");
            document.getElementById("are2").className += " selectwi";
        });
        $(".select_plate_cell_are2 .weui_grid").click(function () {
            var txt = $.trim($(this).find(".weui_grid_label").text());
            $(".select_plate_cell_are3").show();
            $(".select_plate_cell_are2").hide();
            $(".spannum2").text(txt);
            $(".weiwukuang").removeClass("selectwi");
            document.getElementById("are3").className += " selectwi";
        });
        $(".select_plate_cell_are3 .weui_grid").click(function () {
            var txt = $.trim($(this).find(".weui_grid_label").text());
            $(".select_plate_cell_are4").show();
            $(".select_plate_cell_are3").hide();
            $(".spannum3").text(txt);
            $(".weiwukuang").removeClass("selectwi");
            document.getElementById("are4").className += " selectwi";
        });
        $(".select_plate_cell_are4 .weui_grid").click(function () {
            var txt = $.trim($(this).find(".weui_grid_label").text());
            $(".select_plate_cell_are5").show();
            $(".select_plate_cell_are4").hide();
            $(".spannum4").text(txt);
            $(".weiwukuang").removeClass("selectwi");
            document.getElementById("are5").className += " selectwi";
        });
        $(".select_plate_cell_are5 .weui_grid").click(function () {
            var txt = $.trim($(this).find(".weui_grid_label").text());
            $(".select_plate_cell_are5").hide();
            $(".select_plate_cell_are5").hide();
            $(".spannum5").text(txt);
            $(".weiwukuang").removeClass("selectwi");
            $(".closes").hide();

        });
        $(".select_plate_cell_aren .weui_grid").click(function () {
            var txt = $.trim($(this).find(".weui_grid_label").text());
            $(".select_plate_cell_aren").hide();
            $(".spannumn").text(txt);
            $(".weiwukuang").removeClass("selectwi");
            document.getElementById("xny").style.background = '';
            $(".closes").hide();

        });
        document.getElementById("xny").onclick = function () {
            if (document.getElementById("xny").innerHTML == "") {
                hidediv();
                $(".select_plate_cell_aren").show();

            } else {
                document.getElementById("xny").style.background = 'url(/Content/mobile/images/xny.png)';
                document.getElementById("xny").innerHTML = ""
            }

        }
        document.getElementById("city").onclick = function () {
            hidediv();
            $(".select_plate_cellcity").show();
            $(".closes").show();
            $(".weiwukuang").removeClass("selectwi");
            document.getElementById("city").className += " selectwi";
        }
        document.getElementById("area").onclick = function () {
            hidediv();
            $(".select_plate_cell_area").show();
            $(".closes").show();
            $(".weiwukuang").removeClass("selectwi");
            document.getElementById("area").className += " selectwi";
        }
        document.getElementById("are1").onclick = function () {
            hidediv();
            $(".select_plate_cell_are1").show();
            $(".closes").show();
            $(".weiwukuang").removeClass("selectwi");
            document.getElementById("are1").className += " selectwi";
        }
        document.getElementById("are2").onclick = function () {
            hidediv();
            $(".select_plate_cell_are2").show();
            $(".closes").show();
            $(".weiwukuang").removeClass("selectwi");
            document.getElementById("are2").className += " selectwi";
        }
        document.getElementById("are3").onclick = function () {
            hidediv();
            $(".select_plate_cell_are3").show();
            $(".closes").show();
            $(".weiwukuang").removeClass("selectwi");
            document.getElementById("are3").className += " selectwi";
        }
        document.getElementById("are4").onclick = function () {
            hidediv();
            $(".select_plate_cell_are4").show();
            $(".closes").show();
            $(".weiwukuang").removeClass("selectwi");
            document.getElementById("are4").className += " selectwi";
        }
        document.getElementById("are5").onclick = function () {
            hidediv();
            $(".select_plate_cell_are5").show();
            $(".closes").show();
            $(".weiwukuang").removeClass("selectwi");
            document.getElementById("are5").className += " selectwi";

        }
    });
    function SetSelectStyle() {
        $(".select_plate_cell_city .weui_grid_option").removeClass("selectstyle");
        $(".select_plate_cell_area .weui_grid_option").removeClass("selectstyle");
        var city = $(".spanProvinceDescription").text();
        var area = $(".spanCityDescription").text();
        if ($.trim(city) != "") {
            $(".select_plate_cell_city .weui_grid_option").each(function () {
                var txt = $.trim($(this).find(".weui_grid_label").text());
                if (txt == city) {
                    $(this).addClass("selectstyle");
                    return false;
                }
            });
        }
        if ($.trim(area) != "") {
            $(".select_plate_cell_area .weui_grid_option").each(function () {
                var txt = $.trim($(this).find(".weui_grid_label").text());
                if (txt == area) {
                    $(this).addClass("selectstyle");
                    return false;
                }
            });
        }
    }
    function btnSelectLicensePlateCity() {
        $(".select_plate_cell_city").show();
        $(".select_plate_cell_area").hide();
        SetSelectStyle();
    }


    function hidediv() {
        $(".select_plate_cellcity").hide();
        $(".select_plate_cell_area").hide();
        $(".select_plate_cell_aren").hide();
        $(".select_plate_cell_are1").hide();
        $(".select_plate_cell_are2").hide();
        $(".select_plate_cell_are3").hide();
        $(".select_plate_cell_are4").hide();
        $(".select_plate_cell_are5").hide();
    }

    function aa() {
        hidediv();
        $(".closes").hide();
    }
</script>
